.Navbar {
	background:#976D9E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

p1 {
	font-family: 'Amatic SC', cursive;
}

p2 {
	font-family: 'Amatic SC', cursive;
}

p3 {
	font-family: 'Amatic SC', cursive;
}

p4 {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

.links {
	width:50%;
	display: flex;
	justify-content: space-around;
	font-family: 'Swanky and Moo Moo', cursive;
}

.logo {
	height: 70px;
}

.modal-body {
	font-family: 'Amatic SC', cursive;
}

.modal-title {
	font-family: 'Swanky and Moo Moo', cursive;
}

.Boutique {
	background-image: url("images/fond.jpg");
	background-position: center;
	background-size: cover;
}

.catalogue:hover {
	width: 300px;
	height: 387px;
	object-fit: cover;
}

.cadre {
	padding: 50px;
	font-family: 'Swanky and Moo Moo', cursive;
}

.Offres {
	background-color: #b0f2ff;
}

.titre-offre {
	text-align: center;
	font-family: 'Swanky and Moo Moo', cursive;
	color: #976D9E;
}

.carousel-inner {
    margin-left: auto; 
    margin-right: auto; 
	}

.crok {
	width: 200px;
	height: 200px;
}

.loutre {
	width: 200px;
	height: 200px;
}

.ours {
	width: 200px;
	height: 200px;
}

.nous {
	text-align: center;
	background-color: #b0f2ff;
	font-family: 'Swanky and Moo Moo', cursive;
	margin-bottom: 0px;
	color : #976D9E;
}

.Team {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 20px;
	background-color: #b0f2ff;
}

.origine-titre {
	font-family: 'Swanky and Moo Moo', cursive;
	color : #976D9E;
}

.valeurs-titre {
	font-family: 'Swanky and Moo Moo', cursive;
	color : #976D9E;
}

.Ambition-titre {
	font-family: 'Swanky and Moo Moo', cursive;
	color : #976D9E;
}

body {
  background-color: #f4ede3;
}

.footer {
	background: #976D9E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: lightgrey;
	padding: 20px 20px;
}

.name {
	font-family: 'Swanky and Moo Moo', cursive;
}

.horaire {
	font-family: 'Swanky and Moo Moo', cursive;
}

li {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

.inscrirenewsletter {
	font-family: 'Swanky and Moo Moo', cursive;
	color : #976D9E;
}

.contenunewsletter {
	font-family: 'Amatic SC', cursive;
}

.clear {
	font-family: 'Swanky and Moo Moo', cursive;
}

.small-metanowrap {
	font-family: 'Amatic SC', cursive;
}

.suivre {
	font-family: 'Swanky and Moo Moo', cursive;
}

.Video {
	background-position: center;
	background-color: #b0f2ff;
	padding: 50px;
}


.pingouin {
	background-image: url("images/pingouin.jpg");
	background-position: center;
	background-size: 60%;
}

.social {
	color: #b0f2ff;
}
